<%- include("partial/header") -%>
<h1>Compose</h1>
<div class="form-group">
<form action="/" method="post">
    <lable>Title</lable>
    <input type="text" autocomplete="off" name="Title" class="form-control">
    <lable>Post</lable>
    <textarea name="Post" rows="4" cols="150" class="form-control"></textarea>
    <button type="submit" class="btn btn-primary m-4">publish</button>
</form>    
</div>

<%- include("partial/footer") -%>